<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="">
<title>Prizes 2022</title>
<link href="/css/prize.css"1 rel="stylesheet">

</head>
<body>

{% for page in pages %}
  <div class="prizepage">
    {% for prize in page %}
      <div class="prize_1 {{ prize.positionclass }}">
        <div class="prize_logo">
          <img src="/img/logo_bycco.png">
          Blankenberge 2023
        </div>
        <div class="prize_text" style="line-height: 28px">
          <div>Waardebon / Bon d' achat / Gutschein: Chessconsult</div>
          <div class="name">Naam / Nom / Name: {{ prize.name }}</div>
          <div class="category">Categorie / Catégorie / Kategorie: {{ prize.category }}</div>
          <div class="category">Plaats / Place / Platz: {{ prize.place }}</div>
          <div class="amount">Waarde / Valeur / Wert: € {{ prize.prize }}</div>
          <div class="code">Code: {{ prize.code }}</div>
          <div class="gender">Geslacht / Sexe: {{ prize.gender }}</div>
          <div class="gender">geldig tot / valable jusqu'au / gültig bis zum: 31.12.2024</div>
        </div>
      </div>
    {% endfor %}
    <div class="prizeline prizeline1"></div>
    <div class="prizeline prizeline2"></div>
    <div class="prizeline prizeline3"></div>
    <div class="prizelinev"></div>
  </div>
{% endfor %}
</body>
</html>